@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-kisan-green: #1a6b2e;
  --color-kisan-green-dark: #155225;
  --color-kisan-cream: #F4EFE4;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.font-display {
  font-family: 'Outfit', sans-serif;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
